<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CordovaDEMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C03C36B1DF06B030059A3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C03C3841DF06B030059A3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C03C38F1DF06B030059A3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
